<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>306158045341-klutnfqbosv67pa5v80pcqfrs9sscn84.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.306158045341-klutnfqbosv67pa5v80pcqfrs9sscn84</string>
	<key>API_KEY</key>
	<string>AIzaSyAEREHPFcPpV40xv1vPyVnXZZCzcoiK3_Q</string>
	<key>GCM_SENDER_ID</key>
	<string>306158045341</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gema.shop</string>
	<key>PROJECT_ID</key>
	<string>gema-5db72</string>
	<key>STORAGE_BUCKET</key>
	<string>gema-5db72.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:306158045341:ios:151dd1e2bc79da3899ac74</string>
</dict>
</plist>